<link rel="stylesheet" href="../stylesheets/profiles.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- <div class="container">
<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% data.forEach(function(person){ %>
        <div class= "col-md-3 col-sm-6">
            <div class="thumbnail">
               
                <div class="caption">
                    <h4> <%= person.alumni_name %>  </h4>
                    <h3> <%= person.alumni_email %> </h3>
                    
                </div>
            </div>
        </div>
    <% }); %>
</div>
</div> -->

<div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
<% data.forEach(function(person){ %>
    <div class= "col-md-3 col-sm-6" style="margin-left: 10px; margin-bottom: 20px;">
<div class="card">
    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="John" style="width:100%">
    <h1><%= person.alumni_name %></h1>
    <p class="title"><%= person.alumni_email %></p>
    <p><%= person.college %></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="/api/users/<%=person.alumni_email%>"><p><button>Contact</button></p></a>
  </div>
</div>
<div class="col-md-1"></div>
<% }); %>

</div>
</div>
